:root {
    --1: #000000;
    --2: #00400F;
    --3: #00801E;
    --4: #00BF2D;
    --5: #00FF3C;
    --6: #20F848;
    --7: #40F254;
    --8: #60EB60;
}

body {
    background-color: var(--1);
    font-family: 'Courier New', Courier, monospace;
    color: var(--5);
    padding-top: 80px; 
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;        
    display: flex;
    align-items: center;     
    justify-content: space-between;
    background-color: var(--4);
    z-index: 1000;
}
.special {
    height: 100%;           
    width: auto;             
    padding: 10px 0;           
    box-sizing: border-box;
    padding-left: 20px;
}

.links {
   
    display: flex;
    gap: 20px;
    font-size: 30pt;
    padding-right:30px;

}
.links a{
    display:flex;
    
    color:#000000;
    flex-direction:end;
    justify-self: flex-end;
    
}
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Hide the dropdown menu by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover { background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block;
}
.paragraph-text {
    text-align: center;
    background-color: var(--2);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 30%;
    margin-right: 30%;
    font-style: normal;
}
/* From Uiverse.io by cssbuttons-io */ 
button {
  align-items: center;
  background-image: linear-gradient(144deg, #24ff3a, #46950e 50%, #5ce497);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  font-family: 'Courier New', Courier, monospace;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}
